.message {
     display: flex;
     flex-direction: column;
     padding: 20px;
}

.message-content {
    display: flex;
    flex-direction: row;
}

aside {
    font-size: smaller;
}

.face-bean-logo {
    display: flex;
    flex-direction: row;
}

.face {
    font: 800 40px Arial;
    color:rgb(0, 200, 255);
    background-color: blue;
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px;
  }
h1 {
    font: 800 40px Arial;
    color:red;
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke: 2px;
  }
  
  @keyframes pulsate {
    50%{ stroke-width:5px }
  }