{% load static %}

<link rel="stylesheet" href="{% static 'facebean/style.css' %}">

{% if latest_message_list %}
   
    <div class="face-bean-logo">
       <h1 class="face">FACE</h1><h1>BEAN</h1>
    </div>
    {% for message in latest_message_list %}
    <div class="message">
        <div class="message-content">
    <img src="../static/{{message.avatar}}" alt="user avatar" height="50" width="70">
        <p>{{ message.username}}:</p>
    </div>
        <p>{{ message.content }}</p>
        
        
        <aside>{{ message.pub_date }}</aside>
    </div>
    {% endfor %}
    
{% else %}
<div class="face-bean-logo">
<h1 class="face">FACE</h1><h1>BEAN</h1>
</div>
    <p>No messages are available.</p>
{% endif %}