<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaceBean</title>
    <script>

   function setDateTime() {
    const now = new Date().toISOString();
    document.getElementById('pub_date').value = now;
}


   </script>

   {% load static %}
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
{% if message_list %}
    <header>
    <div class="face-bean-logo">
       <h1 class="face">Face</h1><h1>BEAN</h1>
    </div>
        <p><b><i>The messaging app of choice for Beanotown</i></b></p>
    </header>

    <section>
    {% for message in message_list %}
    
    <div class="message">
        <div class="message-content">
    <img src="../static/{{message.avatar}}" id="user-avatar" alt="user avatar" height="50" width="70">
        <p><b>{{ message.username}}:</b></p>
    </div>
        <p>{{ message.content }}</p>
        
        <aside>{{ message.pub_date }}</aside>
    </div>
    
    {% endfor %}
    </section>
{% else %}
<div class="face-bean-logo">
<h1 class="face">FACE</h1><h1>BEAN</h1>
</div>
    <p>No messages are available.</p>
{% endif %}

</body>
</html>